* {
	margin: 0;
	padding: 0
}
#screen {
	display: block;
	height: 200px;
	width: 200px;
	margin: 20px auto;
	border: 1px solid green;
	position: relative;
}
.cursor {
	position: absolute;
	top: 100px;
	left: 100px;
	height: 3px;
	width: 3px;
	background: black;
	box-shadow: 0 0 4px black;
	border-radius: 50%;
}

iframe {
	width: 100%;
	height: 50px;
	border: 0;
}